<div class="container mt-5">
  <h1 class="mt-5 text-center">BLOG</h1>
  <form>
    <input name="name" type="text" placeholder="Name" />
    <input name="category" type="text" placeholder="Category" />
    <input name="author" type="text" placeholder="Author" />
    <textarea name="content" placeholder="Content"></textarea>
  </form>
</div>