<div class="container mt-5">
  <h1 class="mt-5 text-center">BLOG</h1>
  <div class="row">
    <div class="col-8">
      {{log 'This is a test log'}}
      {{#each posts as |post|}}
        {{>post post-card=.}}
      {{/each}}
    </div>
    <div class="col-4">
      {{>sidebar}}
    </div>
  </div>
</div>
   